<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration debug="true" scan="true" scanPeriod="1 minutes">

  <property name="LOG_FILE_NAME" value="${catalina.home}/logs/spring-mvc-web"/>

  <property name="ROOT_LOG_LEVEL" value="DEBUG"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>[%d{HH:mm:ss.SSS}] %-5level %logger{40} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="wcyoung.spring.mvc.mybatis.plugin.MybatisSqlLogInterceptor" level="DEBUG"/>

  <logger name="wcyoung.spring.mvc.mapper.springmvc" level="TRACE"/>

  <root level="${ROOT_LOG_LEVEL}">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
